*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.hide{
    opacity: 0 !important;
}

.pointer{
    width:80px;
    height:80px;
    border-radius: 100%;
    position:absolute;
    background-color: lightgray;
    transform: translate(-50%, -50%);
    opacity:0.5;
    transition: opacity 500ms ease;
    animation-name:wave;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 30px rgb(255, 0, 0, 0.5);
    z-index: 99999999;

}

@keyframes wave {
    0%{
        transform: translate(-50%, -50%) scale(0.95);
        box-shadow: 0 0 0 0 transparent;
    }
    50%{
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 20px rgba(0, 0, 255, 0.5);
    }
    100%{
        transform: translate(-50%, -50%) scale(0.95);
        box-shadow: 0 0 0 30px rgba(255, 0, 0, 0.5);
    }
    
}